{% extends "isl/base_site.html" %}


{% block content %}

{% if entities %}
<div class="row">
{% for elm, props in entities.items %}
  <div class="col-lg-6">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ elm }}</h6>
      </div>
      <div class="card-body">
        <table>
        {% for name, val in props.properties %}
        <tr>
          <td> {{ name }} </td>
          <td><code> {{ val }}</code></td>
        </tr>
        {% endfor %}
        </table>

        {% for name, target in props.buttons %}

        <a href="{{ target }}" class="btn btn-danger btn-icon-split float-right">
          <span class="icon text-white-50">
            <i class="fas fa-search"></i>
          </span>
          <span class="text">{{ name }}</span>
        </a>
        {% endfor %}




      </div>


    </div>


  </div>


{% if not forloop.counter0|divisibleby:2 %}
</div>
<div class="row">
{% endif %}



{% endfor %}
</div>

{% endif %}

{% endblock %}
