{% extends "isl/base_site.html" %}
{% load static %}


{% block content %}

<div class="col-xl-12 col-lg-7">


{% for metric_name, data0 in metrics.items %}

		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">{{metric_name}}</h6>
			</div>
			<div class="card-body">
        <canvas id="chart_{{metric_name}}"></canvas>
			</div>
		</div>

{% endfor %}

</div>

{% endblock %}


{% block extrascript %}

<script src="{% static "vendor/chart.js/Chart.bundle.min.js" %}"></script>
<script>

  $(function () {


{% for metric_name, datasets in metrics.items %}

    color = {{ forloop.counter0 }}

    var ctx_{{metric_name}} = document.getElementById('chart_{{metric_name}}').getContext('2d');

    var config_{{metric_name}} = {
      type: 'scatter',
      data: {
        labels: {{labels | safe}},
        datasets: {{datasets | safe}}
      },
      options: {
        /*
        onClick: function(event,elements) {
          window.alert('redirect to run!');
      },*/
        scales: {
          xAxes: [{type: 'linear', position: 'bottom'}],
          yAxes: [{
            type: 'category',
            ticks: {
              beginAtZero:false,
              min: ''
            }

          }],


          },
          tooltips: {
             callbacks: {
                label: function(tooltipItem, data) {
                   var meta = data.datasets[tooltipItem.datasetIndex]['data'][tooltipItem.index]['meta'];
                   return meta + ' --> ' + Math.round(tooltipItem.label * 100) / 100;
                }
             }
          }
        }
    };

    var chart_{{metric_name}} = new Chart(ctx_{{metric_name}}, config_{{metric_name}});


{% endfor %}

  });
	</script>


{% endblock %}
