{% extends "isl/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Inter-Space Learning') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Feature Management') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block sidebar %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-igloo"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Inter-Space<br/>Learning</div>
  </a>

  <!-- Dashboard -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>



  <!-- Base Data -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Base Data
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/graph/entities/room">
      <i class="fas fa-fw fa-table"></i>
      <span>Rooms</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/graph/entities/dataset">
      <i class="fas fa-fw fa-coins"></i>
      <span>Datasdets</span></a>
  </li>



  <!-- Knowledge Graph -->
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Learning
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/graph/entities/task">
      <i class="fas fa-fw fa-edit"></i>
      <span>Tasks</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/graph/entities/model">
      <i class="fas fa-fw fa-sitemap"></i>
      <span>Models</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/graph/entities/run">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Runs</span></a>
  </li>


  <!-- Blockchain -->
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Blockchain
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/accounts">
      <i class="fas fa-fw fa-edit"></i>
      <span>Accounts</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/blockchain/models">
      <i class="fas fa-fw fa-sitemap"></i>
      <span>Models</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/blockchain/tasks">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Tasks</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/blockchain/runs">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Runs</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">






  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{% endblock %}
